<!--for reference-->






<br>
<table border="0" width="100%" bgcolor="white">

    <tr>
        <td colspan="5">
            <h2>Earphones</h2>
            <hr>
        </td>
    <tr>
        <th><img src="earphone1.png" width="75%"></th>
        <th><img src="earphone2.png" width="75%"></th>
        <th><img src="earphone3.png" width="75%"></th>
        <th><img src="earphone4.png" width="75%"></th>
        <th><img src="earphone5.png" width="75%"></th>
    </tr>
</table>

<br>
<table border="0" width="100%" bgcolor="white">

    <tr>
        <td colspan="5">
            <h2>Kitchen Appliances</h2>
            <hr>
        </td>
    <tr>
        <th><img src="kitchen1.png" width="75%"></th>
        <th><img src="kitchen2.png" width="75%"></th>
        <th><img src="kitchen3.png" width="75%"></th>
        <th><img src="kitchen4.png" width="75%"></th>
        <th><img src="kitchen5.png" width="75%"></th>
    </tr>
</table>

<br>
<table border="0" width="100%" bgcolor="white">

    <tr>
        <td colspan="5">
            <h2>Mobile Phones</h2>
            <hr>
        </td>
    <tr>
        <th><img src="mobile1.png" width="75%"></th>
        <th><img src="mobile2.png" width="75%"></th>
        <th><img src="mobile3.png" width="75%"></th>
        <th><img src="mobile4.png" width="75%"></th>
        <th><img src="mobile5.png" width="75%"></th>
    </tr>
</table>

<br>
<table border="0" width="100%" bgcolor="white">

    <tr>
        <td colspan="5">
            <h2>Pendrives</h2>
            <hr>
        </td>
    <tr>
        <th><img src="pendrive1.png" width="75%"></th>
        <th><img src="pendrive2.png" width="75%"></th>
        <th><img src="pendrive3.png" width="75%"></th>
        <th><img src="pendrive4.png" width="75%"></th>
        <th><img src="pendrive5.png" width="75%"></th>
    </tr>
</table>

<br>
<table border="0" width="100%" bgcolor="white">

    <tr>
        <td colspan="5">
            <h2>Teddy</h2>
            <hr>
        </td>
    <tr>
        <th><img src="teddy1.png" width="75%"></th>
        <th><img src="teddy2.png" width="75%"></th>
        <th><img src="teddy3.png" width="75%"></th>
        <th><img src="teddy4.png" width="75%"></th>
        <th><img src="teddy5.png" width="75%"></th>
    </tr>
</table>