{% extends "bookstore/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    <a href="{% url 'checkout' %}">
    <button class="btn btn-primary btn-md my-0 p" type="submit">Proceed To Checkout</button>
    <a>
{% endblock content %}
