{% load static %}
<!DOCTYPE html>
<html>

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">


  <!-- searchBar goutam-->
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  <!-- Additional styles PK-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
  <link href="{% static 'bookstore/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'bookstore/css/mdb.min.css'%}" rel="stylesheet">
  <link href="{% static 'bookstore/css/style.min.css'%}" rel="stylesheet">
  <!-- Additional styles PK-->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'bookstore/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'bookstore/searchBar.css' %}">

  {% if title %}
  <title>Bookstore - {{ title }}</title>
  {% else %}
  <title>Bookstore</title>
  {% endif %}

  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 20vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

  </style>
</head>

<body>
  {% include "bookstore/navbar.html" %}



  <main role="main" class="container">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% block content %}
        {% endblock %}

        {% block extra_body %}
        {% endblock %}

        {% block extra_scripts %}
        {% endblock extra_scripts %}
      </div>
    </div>
  </main>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <!-- searchBar from codenepal goutam -->

  <script src="{% static 'bookstore/searchBar_suggestion_database.js' %}"></script>
  <script src="{% static 'bookstore/searchBar.js' %}"></script>


  <!-- Additional styles PK-->
  <script type="text/javascript" src="{% static 'bookstore/js/jquery-3.4.1.min.js' %}"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="{% static 'bookstore/js/popper.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'bookstore/js/bootstrap.min.js' %}"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'bookstore/js/mdb.min.js' %}"></script>
  <script type="text/javascript">
  // Animations initialization
  new WOW().init();

</script>
  <!-- Additional styles PK-->

</body>

</html>